//
//  Secrets.xcconfig
//  ChatGPTSwift
//
//  Created by Nupur Sharma on 22/06/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

OPENAI_API_KEY = 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
